{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}DEMO{% endblock title %}

{% block content %}
hi
{% endblock %}

{% block col-1 %}
<h1>Step 1</h1>
<div id="deviceDiagram"></div>
<p id="deviceDescription">Select the option that best decribes your device profile.</p>
<div id="deviceDropdown"></div>

{% endblock %}

{% block col-2 %}
<h1>Step 2</h1>
<div id="deviceData"></div>
<p id="dataDescription">Select the option that best decribes your device profile.</p>
<div id="dataDropdown"></div>

{% endblock %}


{% block extrajs %}
    <script src="https://cdn.jsdelivr.net/ddslick/2.0/jquery.ddslick.min.js"></script>
<script type="text/javascript">
//Dropdown plugin data
var ddDataDevice = [
    {
        text: "Smart Device",
        value: 1,
        selected: false,
        description: "Single device with internet communication capabilities.",
        imageSrc: "http://placehold.it/200/666666/ffcc33"
    },
    {
        text: "Mesh Network",
        value: 2,
        selected: false,
        description: "Peer devices with a single master promoted for communication.",
        imageSrc: "http://placehold.it/200/666666/33cccc"
    },
    {
        text: "Gateway Network",
        value: 3,
        selected: false,
        description: "Edge devices aggregated by a gateway device with communication and logic.",
        imageSrc: "http://placehold.it/200/666666/33cc33"
    }
];
$('#deviceDropdown').ddslick({
    data:ddDataDevice,
    width:220,
    height:300,
    selectText: "Select your device type",
    imagePosition:"left",
    onSelected: function(selectedData){
        // console.dir(selectedData);
        // alert(selectedData.selectedData.blah);
        $('#deviceDiagram').html("<img src='"+selectedData.selectedData.imageSrc+"'>");
        $('#deviceDescription').html(selectedData.selectedData.description);

    }   
});

    
//data Dropdown plugin data
var ddDataDeviceData = [
    {
        text: "Raw Data",
        value: 1,
        selected: false,
        description: "Integer, float, binary, etc. No descriptive labels or metadata",
        example: "36.666667"
    },
    {
        text: "Key/Value Pairs",
        value: 2,
        selected: false,
        description: "Key/Value pairs allow the inclusion of multiple data values, as identified by associated data keys.",
        example: "temp=36.7&duration=20&alert=false"
    },
    {
        text: "JSON Data",
        value: 3,
        selected: false,
        description: "Structured, extensible data document, easily manipulated and re-used by other endpoints.",
        example: "      {\"Temp\":36.7, \"LastTemp\":35.5, \"Alert\":false, \"more\":\"here\"}"

    }
];

    
$('#dataDropdown').ddslick({
    data:ddDataDeviceData,
    width:220,
    height:300,
    selectText: "Select your data payload",
    onSelected: function(selectedData){
        // console.dir(selectedData);
        // alert(selectedData.selectedData.blah);
        $('#dataDescription').html(selectedData.selectedData.description);
        $('#deviceData').html(selectedData.selectedData.example);


    }   
}); 

</script>
<style>
#deviceData {font-family: monospace; border: 1px solid #000000;padding:15px; }
</style>
{% endblock %}