{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}DEMO{% endblock title %}

{% block content %}
hi
{% endblock %}

{% block col-1 %}
<h1>Step 1</h1>
<div id="deviceDiagram"><img src="http://placehold.it/300x50/666666/ffffff"></div>
<p id="deviceDescription">Select the option that best decribes your device profile.</p>
<div id="deviceDropdown"></div>

{% endblock %}

{% block col-2 %}
<h1>Step 2</h1>
<div id="deviceData"></div>
<p id="dataDescription">Select the option that best decribes your device profile.</p>
<div id="dataDropdown"></div>

{% endblock %}

{% block col-3 %}
<h1>Step 3</h1>
<p>
  <label for="amount">Frequency of data reports (in seconds):</label>
  <input type="text" id="seconds" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>
<div id="dataSlider"></div>
<p>Select the frequency of data reporting.</p>

{% endblock %}

{% block extrajs %}
    <script src="https://cdn.jsdelivr.net/ddslick/2.0/jquery.ddslick.min.js"></script>
<script type="text/javascript">
//Dropdown plugin data
var ddDataDevice = [
    {
        text: "Smart Device",
        value: 1,
        selected: false,
        description: "Single device with internet communication capabilities.",
        imageSrc: "http://placehold.it/300x200/666666/ffcc33"
    },
    {
        text: "Mesh Network",
        value: 2,
        selected: false,
        description: "Peer devices with a single master promoted for communication.",
        imageSrc: "http://placehold.it/300x200/666666/33cccc"
    },
    {
        text: "Gateway Network",
        value: 3,
        selected: false,
        description: "Edge devices aggregated by a gateway device with communication and logic.",
        imageSrc: "http://placehold.it/300x200/666666/33cc33"
    }
];
$('#deviceDropdown').ddslick({
    data:ddDataDevice,
    width:300,
    height:300,
    selectText: "Select your device type",
    imagePosition:"left",
    onSelected: function(selectedData){
        // console.dir(selectedData);
        // alert(selectedData.selectedData.blah);
        $('#deviceDiagram').html("<img src='"+selectedData.selectedData.imageSrc+"'>");
        $('#deviceDescription').html(selectedData.selectedData.description);

    }   
});

    
//data Dropdown plugin data
var ddDataDeviceData = [
    {
        text: "Raw Data",
        value: 1,
        selected: false,
        description: "Integer, float, binary, etc. No descriptive labels or metadata",
        example: "36.666667"
    },
    {
        text: "Key/Value Pairs",
        value: 2,
        selected: false,
        description: "Key/Value pairs allow the inclusion of multiple data values, as identified by associated data keys.",
        example: "temp=36.7&duration=20&alert=false"
    },
    {
        text: "JSON Data",
        value: 3,
        selected: false,
        description: "Structured, extensible data document, easily manipulated and re-used by other endpoints.",
        example: "      {\"Temp\":36.7, \"LastTemp\":35.5, \"Alert\":false, \"more\":\"here\"}"

    }
];

    
$('#dataDropdown').ddslick({
    data:ddDataDeviceData,
    width:300,
    height:300,
    selectText: "Select your data payload",
    onSelected: function(selectedData){
        // console.dir(selectedData);
        // alert(selectedData.selectedData.blah);
        $('#dataDescription').html(selectedData.selectedData.description);
        $('#deviceData').html(selectedData.selectedData.example);


    }   
}); 

  $(function() {
    $( "#dataSlider" ).slider({
      range: "max",
      min: 1,
      max: 2678400,
      value: 60,
      step: 1,
      slide: function( event, ui ) {
        $( "#seconds" ).val( ui.value );
          // console.dir(Math.floor(2678400/ui.value).toString().length);
        switch(Math.floor(26784000/ui.value).toString().length) {
            case 1:
            case 2:
                // days
                retval = Math.floor(ui.value/86400);
                retunit = " days";
                retstep = 86400;
            break;
            case 3:
                // hours
                retval = Math.floor(ui.value/3600);
                retunit = " hours";
                retstep = 3600;
            break;
            default:
                // seconds
                retval = ui.value;
                retunit = (retval == 1 ? " second" : " seconds");
                retstep = 1;
        }
        // ui.value = retval*retstep;
        $( "#seconds" ).val( retval + retunit );
      }
    });
    $( "#seconds" ).val( $( "#dataSlider" ).slider( "value" ) + " seconds" );
  });
    
</script>
 
<style>
#deviceData {font-family: monospace; border: 1px solid #000000;padding:25px; max-width:310px }
</style>
{% endblock %}